.cityButtonContainer {
	display: inline-block;
}

.cityButtonGroup {
	display: inline-block;
}

.titleText {
	display: inline-block;
    margin-right: 10px;
}

.cityButton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

html, body {
    height:100%;
    padding:0;
    margin:0;
}
#map {
    height: 100%;
}

#first {
    height: 100%;
}

#firstCountries {
    position: absolute;
    top: 0px;
}

#exploreButton {
    position: absolute;
    bottom: 40px;
    left: 48%
}

#backToMap {
    position: fixed;
    top: 0px;
    width: 100%;
}

.pic-container {
    position: absolute;
    top: 50px;
}